In [1]:
import numpy as np
import csv
import pandas as pd

dataset = pd.read_csv('tickets.csv')  #引入DATA
dataset

,Station,Nangang,Taipei,Banqiao,Taoyuan,Hsinchu,Miaoli,Taichung,Changhua,Yunlin,Chiayi,Tainan,Zuoying
0,Nangang,-,260*,310*,500,700,920,"1,330","1,510","1,660","1,880","2,290","2,500"
1,Taipei,40,-,260*,440,640,850,"1,250","1,430","1,600","1,820","2,230","2,440"
2,Banqiao,70,40,-,400,590,800,"1,210","1,390","1,550","1,780","2,180","2,390"
3,Taoyuan,200,160,130,-,400,620,1010,"1,210","1,370","1,580","1,990","2,200"
4,Hsinchu,330,290,260,130,-,410,820,1010,"1,160","1,390","1,790","2,000"
5,Miaoli,480,430,400,280,140,-,610,790,950,"1,160","1,580","1,790"
6,Taichung,750,700,670,540,410,270,-,400,550,770,"1,180","1,390"
7,Changhua,870,820,790,670,540,390,130,-,370,580,1000,"1,210"
8,Yunlin,970,930,900,780,640,500,230,110,-,430,830,1040
9,Chiayi,"1,120","1,080","1,050",920,790,640,380,250,150,-,620,820
10,Tainan,"1,390","1,350","1,320","1,190","1,060",920,650,530,420,280,-,410
11,Zuoying,"1,530","1,490","1,460","1,330","1,200","1,060",790,670,560,410,140,-

In [2]:
with open('tickets.csv', mode='r') as station:
    Station = csv.reader(station)
    station=[]
    for cloumn in Station:
        station.append(cloumn)
#取CSV檔的第一列
list_station_1 = station[0]
#去掉第一列的第一個，因為第一個是'station'
list_station = list_station_1[1:13]
#用tuple方式儲存
tuple_station = tuple(list_station)
print(tuple_station)
#一共有十二個站
n =12
northbound = {}
#北上字典(倒著數，由南到北為北上)
for i in range(n-1, -1, -1):
    for j in range(i-1, -1, -1):
        northbound[(tuple_station[i],tuple_station[j])] = [dataset.loc[i][j+1],dataset.loc[j][i+1]]
southbound={}
#南下字典(正著數，由北到南為南下)
for i in range(0, n, 1):
    for j in range(i+1, n, 1):
        southbound[(tuple_station[i],tuple_station[j])] = [dataset.loc[j][i+1],dataset.loc[i][j+1]]

('Nangang', 'Taipei', 'Banqiao', 'Taoyuan', 'Hsinchu', 'Miaoli', 'Taichung', 'Changhua', 'Yunlin', 'Chiayi', 'Tainan', 'Zuoying')

In [3]:
northbound['Hsinchu', 'Nangang']

['330', '700']

In [4]:
southbound['Nangang', 'Yunlin']

['970', '1,660']

In [ ]:
#輸入兩值用逗號分開
start, end = input('Enter your start and end stations:').split(",")

#無視空格
start,end = start.strip(), end.strip()

def feedback(start,end):
    #判斷是否有此站
    if start in tuple_station:
        find_start = True
    elif start not in tuple_station:
        find_start = False
    if end in tuple_station:
        find_end = True
    elif end not in tuple_station:
        find_end = False
    #如果沒有此站    
    if find_end == False or find_start == False:
        print("The destination from", start,"to", end,"is not found")
        return
    
    #如果輸入相等
    if start == end:
        print("error!!!")
        return
    
    #如果為北上(index越大越南邊)
    if tuple_station.index(start) > tuple_station.index(end):
        print("Northbound form", start, "to", end)
        print("The ticket fare of Standrd Car is:", northbound[(start, end)][0])#輸出第一個數值(一般票)
        print("The ticket fare of Bisiniss Car is:", northbound[(start, end)][1])#輸出第二個數值(商務票)
    #如果為南下
    elif tuple_station.index(start) < tuple_station.index(end):
        print("Southbound form", start, "to", end)
        print("The ticket fare of Standrd Car is:", southbound[(start, end)][0])#輸出第一個數值(一般票)
        print("The ticket fare of Bisiniss Car is:", southbound[(start, end)][1])#輸出第二個數值(商務票)
        return
feedback(start,end)

In [6]:
start, end = input('Enter your start and end stations:').split(",")

#無視空格
start,end = start.strip(), end.strip()
feedback(start,end)

Enter your start and end stations:  Hsinchu, Taipei

Northbound form Hsinchu to Taipei
The ticket fare of Standrd Car is: 290
The ticket fare of Bisiniss Car is: 640

In [7]:
start, end = input('Enter your start and end stations:').split(",")

#無視空格
start,end = start.strip(), end.strip()
feedback(start,end)

Enter your start and end stations: Nangang , Taoyuan

Southbound form Nangang to Taoyuan
The ticket fare of Standrd Car is: 200
The ticket fare of Bisiniss Car is: 500

In [8]:
start, end = input('Enter your start and end stations:').split(",")

#無視空格
start,end = start.strip(), end.strip()
feedback(start,end)

Enter your start and end stations:  Taipei, USA

The destination from Taipei to USA is not found